<section class="toodolist-wrapper">
    <h1 class="title">TooDo App</h1>
    <div class="new-toodo">
        <input type="text" placeholder="Escribe una nueva tarea">
        <button>+</button>
    </div>
    <div class="filters">
        <button>Todas</button>
        <button>Activos</button>
        <button>Completadas</button>
    </div>
    <ul class="toodolist">
        <li class="toodo">
            <input type="checkbox">
            <label for="">Titulo Tarea</label>
            <button>editar</button>
            <button>eliminar</button>
        </li>
        <li class="toodo-editing">
            <input type="text" placeholder="Editar Tarea">
            <label for="">Editado..</label>
        </li>
    </ul>
</section>